<div id="manScore">
<div class="palm-group unlabeled">
<div class="palm-list">
<div style="height:96px" class="palm-row first">
<div class="palm-row-wrapper">
<div class="title center">
<div id="mCard0" class="cardBoxFloat"></div>
<div id="mCard1" class="cardBoxFloat"></div>
<div id="mCard2" class="cardBoxFloat"></div>
<div id="mCard3" class="cardBoxFloat"></div>
<div id="dummy" class="cardBoxFloat"></div>
<div id="mCardC" class="cardBoxFloat"></div>
</div>
</div></div>

<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="title center">
<div class="label" style="float:left" id="enterScore">Strawberry</div>
<div id="pickScore" x-mojo-element="IntegerPicker"></div>
</div>
</div></div>
</div></div>
<div id="submitScore" x-mojo-element="Button"></div>
</div>
