<div id="start" class="palm-hasheader">

<div class="palm-body-text" id="appVersion"></div>

<div id="startTable" class="prib-button-table">
<div class="prib-button-row">
<div class="prib-button-cell">
<div id="NewGameButt" x-mojo-element="Button"></div></div>
<div class="prib-button-cell">
<div id="ContinueGameButt" x-mojo-element="Button"></div></div>
</div>
<div class="prib-button-row">
<div class="prib-button-cell">
<div id="StatsButt" x-mojo-element="Button"></div>
</div>
<div class="prib-button-cell">
<div id="HighScoreButt" x-mojo-element="Button"></div>
</div>
</div>
<div class="prib-button-row">
<div class="prib-button-cell">
<div id="RulesButt" x-mojo-element="Button"></div>
</div>
<div class="prib-button-cell">
<div id="PrefButt" x-mojo-element="Button"></div>
</div>
</div></div>


</div>
<div id="palm-disclaimer"></div>