<div id="about" class="palm-hasheader">
<div class="palm-page-header">
<div class="palm-page-header-wrapper">
<div class="title" id="prefTitle">
</div></div></div>
<div class="palm-group">
<div class="palm-group-title" id="prefGroup1"></div>

<div class="palm-list">

<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="palm-body-text" id="prefDisclaim"
style="font-size:14px;text-align:justify">
</div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div class="textfield-group">
<div class="title">
<div class="label" id="playerNameLabel">...</div>
<div x-mojo-element="TextField" id="playerName"></div>
</div>
</div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="loserDeal"></div>
<div class="title left truncating-text" id="loserDealTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="shortGame"></div>
<div class="title left truncating-text" id="shortGameTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="fiveCardGame"></div>
<div class="title left truncating-text" id="fiveCardGameTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="manScore"></div>
<div class="title left truncating-text" id="manScoreTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="muggins"></div>
<div class="title left truncating-text" id="mugginsTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="autoDeal"></div>
<div class="title left truncating-text" id="autoDealTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="autoScore"></div>
<div class="title left truncating-text" id="autoScoreTitle"></div>
</div>
</div>

<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ToggleButton" id="useAnimation"></div>
<div class="title left truncating-text" id="useAnimationTitle"></div>
</div>
</div>

<div class="palm-row last">
<div class="palm-row-wrapper">
<div x-mojo-element="ListSelector" id="playLevel"></div>
</div>
</div>
</div>
</div>


<div class="palm-group">
<div class="palm-group-title" id="colorGroup"></div>
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div x-mojo-element="ListSelector" id="cardBackColor"></div>
</div>
</div>

<div id="backGroundColorList" class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ListSelector" id="backGroundColor"></div>
</div>
</div>

<div id="playerPegColorList" class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="ListSelector" id="playerPegColor"></div>
</div>
</div>

<div id="computerPegColorList" class="palm-row last">
<div class="palm-row-wrapper">
<div x-mojo-element="ListSelector" id="computerPegColor"></div>
</div>
</div>

</div>
</div>


<div class="palm-group">
<div class="palm-group-title" id="prefGroup2"></div>
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="palm-body-text" id="prefButtonDisclaim"
style="font-weight:bold;font-size:14px;text-align:justify">
</div>
</div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div x-mojo-element="Button" id="backupDB"></div>
<div x-mojo-element="Button" id="restoreDB"></div>
</div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div x-mojo-element="Button" id="resetWins"></div>
<div x-mojo-element="Button" id="resetHands"></div>
<div x-mojo-element="Button" id="resetStats"></div>
</div></div>
</div>
</div>


</div>
