<div id="about" class="palm-hasheader">
<div class="palm-page-header">
<div class="palm-page-header-wrapper">
<div class="title">Cribbage Rules!
</div></div></div>

<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
<tr>
<td class="left"></td>
<td class="label">
About
</td>
<td class="line"></td>
<td><div id="RuleButton1" class="palm-arrow-closed arrow_button"></div></td>
<td class="right"></td>
</tr>
</table>
<div x-mojo-element="Drawer" class="about-drawer" id="RuleDrawer1">
<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row single">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Cribbage (herein known as Pribbage) is a 2-player card game. This
particular version pits you against my programming skills,
anthropomorphized as the computer. The two opponents in cribbage are
refered to as the 'dealer' and the 'pone', switching positions with
each deal. The object is to accumulate points faster than your
opponent up to a target of either 61 or 121 points. Points are awarded
for a variety of hands (including combinations of card values
totalling 15, runs, flushes, and multiple cards of a given number)
both during play and during the showing of the hands. A board is
traditionally used to keep track of the score, with pegs being moved
along a track of holes. The game has been around since sometime in the
17th century, and is a perennial favorite of pub-goers and
PDA/smart-phone users everywhere.
</div></div></div></div>
</div></div>

<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
<tr>
<td class="left"></td>
<td class="label">
Rules
</td>
<td class="line"></td>
<td><div id="RuleButton2" class="palm-arrow-closed arrow_button"></div></td>
<td class="right"></td>
</tr>
</table>
<div x-mojo-element="Drawer" class="palm-drawer" id="RuleDrawer2">
<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Throw down some cards. You either know cribbage, or are smart enough
to figure it out (you are using a Palm, after all). A full set of
rules is beyond the scope of being included in this game, so I'll have
to recommend you to some other sites...
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
For a comprehensive set of Official Tournament Rules, have a look at 
<a href="http://cribbage.org/rules/">cribbage.org,</a> the website of
the American Cribbage Congress. Most rules and scoring particulars in
Pribbage are based on my reading of the ACC ruleset. 
</div></div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
<a href="http://www.pagat.com/adders/crib6.html">The rules
site at pagat.com</a> has more succinct descriptions, and is a bit
easier to read. They also have rules for <a
href="http://www.pagat.com/adders/cribbage.html">5-card cribbage</a>.
</div></div></div></div>
</div></div>

<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
<tr>
<td class="left"></td>
<td class="label">
Scoring
</td>
<td class="line"></td>
<td><div id="RuleButton3" class="palm-arrow-closed arrow_button"></div></td>
<td class="right"></td>
</tr>
</table>
<div x-mojo-element="Drawer" class="palm-drawer" id="RuleDrawer3">
<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
There are two scoring phases to each deal: the play, and the showing
of the hands. The breakdown of scores are shown below (borrowed
heavily from <a href="http://www.pagat.com/adders/crib6.html">John
McLeod's site</a>).
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
The 'play' portion is when the dealer and pone alternate playing cards
against each other to a cumulative count of 31 (based on the face
value of each card). During this portion, points are awarded for a
count of 15, 31, pairs, straights of three or more cards in any
sequence, last card, or the inability of the opposite player to play a
card without exceeding a count of 31.

<dl>
<dt><strong>15:</strong> 
</dt><dd>If you play a card which brings the running total to 15 you
gain 2 points.
</dd><dt><strong>31:</strong> 
</dt><dd>If you play a card which brings the running total
to exactly 31 you gain 2 points. The running total is then reset to zero.
</dd><dt><strong>Pair:</strong> 
</dt><dd>If you play a card of the same rank as the previous card you
peg 2 for a pair. Note that differing face cards do not make a pair
even though they are both worth 10 points.
</dd><dt><strong>Pair Royal:</strong> 
</dt><dd>Three cards of the same rank played in immediate succession
scores 6 for a <i>pair royal</i>.
</dd><dt><strong>Double Pair Royal:</strong> 
</dt><dd>Four cards of the same rank played in immediate succession
scores 12 for a <i>double pair royal</i>.
</dd><dt><strong>Run:</strong> 
</dt><dd>A <i>run</i> or <i>straight</i> is a set of 3 or more
cards of consecutive ranks (irrespective of suit).  The
player of a card which completes a run scores for the run; the score
is equal to the number of cards in the run. The cards do not
have to be played in order, but no other cards may intervene.<br>
<strong>Example:</strong> cards are played in the following order:
6-5-3-2-4. The player of the 4 scores five for a run, since that
completes a run of 2-3-4-5-6.<br>
<strong>Example:</strong>A run of 6-5-4 scores 5 points (assuming you are
starting from a running total of zero), including a count of
15 for two, and a run for three.
</dd><dt><strong>Last Card:</strong>
</dt><dd>If neither player manages to make the running total exactly 31,
whoever played the last card in a round takes one point.
</dd></dl>

</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Showing of the hands brings another round of scoring, similar to play,
but based solely on each players hand coupled with the cut card.

<dl><dt><strong>15:</strong> 
</dt><dd>Any combination of cards adding up to 15 scores two
points.
</dd><dt><strong>Pair:</strong> 
</dt><dd>A pair of cards of the same rank score 2 points. Three cards
of the same rank contain 3 different pairs and thus score a total of six
points for <i>pair royal</i>. Four of a kind contain 6 pairs and so
score 12 points for a <i>double pair royal</i>.
</dd><dt><strong>Run:</strong> 
</dt><dd>Three cards of consecutive rank (irrespective of suit), such
as A-2-3, score 3 points for a run. A hand of A-2-2-3 is a <i>double
run</i>, and scores eight points, including 2 runs of three points and
a pair for two. A hand of A-2-2-2-3 (which would include the cut card)
is a <i>triple run</i> (three runs of A-2-3 and a pair royal) and
would score 15 points. A hand of A-2-2-3-3 is a <i>double double
run</i> or a <i>quadruple run</i> and would score 16 points (including
four runs of three and two pairs).
</dd><dt><strong>Flush:</strong> 
</dt><dd>If all four cards of the hand are the same suit, 4 points are
scored for a flush. If the start card is the same suit as well, the
flush is worth 5 points.
</dd><dt><strong>One For His Nobs:</strong> 
</dt><dd>If the hand contains the jack of the same suit as the start
card, you peg <i>one for his nobs</i>.
</dd><dt><strong>Nineteen:</strong>
</dt><dd>It is impossible to score nineteen in hand or in box. If you
think you have, then you should either stop playing or stop drinking.
<i>Nineteen</i> is proverbially used as a term to indicate a
worthless hand.</dd></dl>

</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Other potential points can be awarded, such as 'his heels' and
muggins: If the start/cut card is a jack, the dealer immediately wins
two points - this is called <i>Two for his heels</i>. Muggins is when
you overlook or take too many points (e.g., with manual scoring) and
the opposing player calls you out on it. The opposing player can then
take the points for themself. This is not implemented in Pribbage,
yet.
</div></div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="title">
Score table:
</div><div class="palm-body-text" style="font-size:14px;text-align:justify">
<table width="100%" border="2">
<tr>
<td></td><td width="18%">Play</td><td width="18%">Hand</td>
</tr>
<tr>
<td class="tdcards">His Heels (Jack as starter)</td><td>2</td><td></td>
</tr>
<tr>
<td class="tdcards">His Nobs (Jack of same suit of starter in hand)</td><td></td><td>1</td>
</tr>
<tr>
<td class="tdcards">Pair</td><td>2</td><td>2</td>
</tr>
<tr>
<td class="tdcards">Pair royal (3-of-a-kind)</td><td>6</td><td>6</td>
</tr>
<tr>
<td class="tdcards">Double pair royal (4-of-a-kind)</td><td>12</td><td>12</td>
</tr>
<tr>
<td class="tdcards">Straights (per card over 3)</td><td>1</td><td>1</td>
</tr>
<tr>
<td class="tdcards">15-counts</td><td>2</td><td>2</td>
</tr>
<tr>
<td class="tdcards">Flush (4 in the hand)</td><td></td><td>4</td>
</tr>
<tr>
<td class="tdcards">Flush (5 total)</td><td></td><td>5</td>
</tr>
<tr>
<td class="tdcards">Reaching 31-count exactly</td><td>2*</td><td></td>
</tr>
<tr>
<td class="tdcards">"Go" (other player cannot play)</td><td>1*</td><td></td>
</tr>
<tr>
<td class="tdcards">Last card</td><td>1*</td><td></td>
</tr>
</table>
* = only one of these three can be claimed from a single-card play.
</div></div></div></div>
</div></div>


<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
<tr>
<td class="left"></td>
<td class="label">
Miscellaneous
</td>
<td class="line"></td>
<td><div id="RuleButton4" class="palm-arrow-closed arrow_button"></div></td>
<td class="right"></td>
</tr>
</table>
<div x-mojo-element="Drawer" class="palm-drawer" id="RuleDrawer4">
<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row single">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
The following information is mostly just oddball facts, statistics,
and tips that will be obvious once you've played cribbage for a while. 
More detailed information on strategy can be found at <a
href="http://cribbage.org/tips/">cribbage.org</a> or
<a href="http://www.cribbageforum.com/">Cribbage Forum</a>.
</div></div></div></div>
</div>

<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="title">Statistics</div>
</div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
There are over 12 million (12,994,800, to be exact) hands available in
cribbage. The highest score possible is 29, which comes from a
5-5-5-J hand and having the cut card as the 5 of the same suit as the
J. 
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Average scores per hand and crib for both dealer and pone are shown in
the following table for both 6-card and 5-card cribbage (based on
statistical data calculated using the Pribbage algorithms and 10
million dealt pairs of hands).
<div class="palm-body-text" style="font-size:12px;text-align:justify">
<TABLE BORDER="2" WIDTH="100%">
        <TBODY>
                <TR>
                        <TD>&nbsp;</TD>
                        <TH>6-card cribbage</TH>
                        <TH>5-card cribbage</TH>
                </TR>
                <TR>
                        <TD>Dealer avg. and std. dev.:</TD>
                        <TD>7.99 &plusmn; 3.82</TD>
                        <TD>6.64 &plusmn; 3.56</TD>
                </TR>
                <TR>
                        <TD>Pone avg. and std. dev.:</TD>
                        <TD>8.14 &plusmn; 3.72</TD>
                        <TD>6.64 &plusmn; 3.56</TD>
                </TR>
                <TR>
                        <TD>Crib avg. and std. dev.:</TD>
                        <TD>4.78 &plusmn; 3.21</TD>
                        <TD>4.53 &plusmn; 3.13</TD>
                </TR>
        </TBODY>
</TABLE>
</div>			

</div></div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
The following table is the result of some number crunching that I did
to look into how accurately (in other words, how randomly) the cards
being dealt by the Pribbage code are dispersed. Additional statistical
data can be found online (e.g., at Wikipedia) for comparison, although
the means by which those data were obtained differs significantly from
the means by which my current data is taken. The Wikipedia data
(originally taken from <a 
href="http://users.crhc.illinois.edu/steve/humor/cribbage.html">Steve
Lumetta</a>), sequentially works its way through all possible hand
combinations (a little over 12 million potential hands), and does not
take into account crib selection and optimization of the hand for
maximum scoring. My code, on the other hand, deals out six random
cards to both dealer and pone and then applies the lumberjack discard
algorithm to remove two cards from each dealt hand to the crib. The
discard algorithm uses
<a href="http://www.cribbageforum.com/YourCrib.htm">statistical
analysis</a> for optimizing the remaining cards for maximum
scoring. All this is followed by randomly drawing a cut card from the
remaining deck, and scoring the combined five cards in each hand. 10
million hands was chosen as an arbitrary value to ensure that the
numbers converge on a final solution. There was little difference
between 1 million, 10 million, and 15 million dealt hands, which suggests
convergence and that this is a valid statistical sampling. At least,
it does in this non-peer-reviewed assessment.</div>

<div class="palm-body-text" style="font-size:14px;text-align:justify">
Anyway, the crib selection routine differs slightly between the dealer
and pone, and both approaches have been examined. 15,000,000 pairs of
hands were dealt to generate these statistics. Based on the results,
there appears to be no clear bias one way or the other (i.e., to
dealer or pone), and the crib distribution shows the more random
distribution that matches almost exactly with the data available at
Wikipedia. If you made it this far, good job! If you're still whinging
about how much the computer cheats, stop playing the game.
</div>
<div class="palm-body-text" style="font-size:12px;text-align:justify">
<table border="2" width="100%">
<tr><th>Points</th><th>Percentage (dealer)</th><th>Percentage (pone)</th><th>Percentage (crib)</th></tr>
<tr><td>0</td><td>0.671%</td><td>0.379%</td><td>7.65%</td></tr>
<tr><td>1</td><td>0.0415%</td><td>0.0464%</td><td>0.594%</td></tr>
<tr><td>2</td><td>6.1%</td><td>4.27%</td><td>23.6%</td></tr>
<tr><td>3</td><td>1.71%</td><td>1.34%</td><td>3.87%</td></tr>
<tr><td>4</td><td>11.6%</td><td>12%</td><td>20.4%</td></tr>
<tr><td>5</td><td>3.81%</td><td>3.59%</td><td>5.57%</td></tr>
<tr><td>6</td><td>15.7%</td><td>15.6%</td><td>14.1%</td></tr>
<tr><td>7</td><td>6.45%</td><td>6.91%</td><td>4.81%</td></tr>
<tr><td>8</td><td>17.2%</td><td>18.9%</td><td>8.83%</td></tr>
<tr><td>9</td><td>6.37%</td><td>6.54%</td><td>2.29%</td></tr>
<tr><td>10</td><td>8.85%</td><td>8.51%</td><td>3.14%</td></tr>
<tr><td>11</td><td>1.48%</td><td>1.57%</td><td>0.282%</td></tr>
<tr><td>12</td><td>10.2%</td><td>10.4%</td><td>3.26%</td></tr>
<tr><td>13</td><td>0.768%</td><td>0.857%</td><td>0.126%</td></tr>
<tr><td>14</td><td>3.35%</td><td>3.41%</td><td>0.623%</td></tr>
<tr><td>15</td><td>0.506%</td><td>0.474%</td><td>0.0967%</td></tr>
<tr><td>16</td><td>3.28%</td><td>3.16%</td><td>0.578%</td></tr>
<tr><td>17</td><td>0.667%</td><td>0.68%</td><td>0.0958%</td></tr>
<tr><td>18</td><td>0.186%</td><td>0.189%</td><td>0.0275%</td></tr>
<tr><td>19</td><td>0%</td><td>0%</td><td>0%</td></tr>
<tr><td>20</td><td>0.578%</td><td>0.594%</td><td>0.0735%</td></tr>
<tr><td>21</td><td>0.173%</td><td>0.184%</td><td>0.0258%</td></tr>
<tr><td>22</td><td>0.0386%</td><td>0.0398%</td><td>0.00103%</td></tr>
<tr><td>23</td><td>0.0217%</td><td>0.0258%</td><td>0.000347%</td></tr>
<tr><td>24</td><td>0.293%</td><td>0.302%</td><td>0.0274%</td></tr>
<tr><td>25</td><td>0%</td><td>0%</td><td>0%</td></tr>
<tr><td>26</td><td>0%</td><td>0%</td><td>0%</td></tr>
<tr><td>27</td><td>0%</td><td>0%</td><td>0%</td></tr>
<tr><td>28</td><td>0.00675%</td><td>0.00679%</td><td>0.000107%</td></tr>
<tr><td>29</td><td>0.000327%</td><td>0.000433%</td><td>6.67e-06%</td></tr>
<tr><td><strong>Average</strong></td><td>7.99 &plusmn; 3.82</td><td>8.14 &plusmn; 3.72</td> <td>4.78 &plusmn; 3.21</td></tr>
</table>
</div></div></div></div>
</div>

<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="title">Tips</div>
</div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Many experienced players have provided extensive tips online (e.g.,
trapping Js and 5s, end-game pegging strategies, etc) that are
available at the various links provided below.
<ul>
<li><a href="http://cribbagecorner.com/strategy">Cribbage Corner</a>
<li><a href="http://www.cribbageforum.com/">Cribbage Forum</a>
<li><a href="http://www.cribbage.org/tips/">American Cribbage Congress</a>
</ul>
</div></div></div></div>
</div>

<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row first">
<div class="palm-row-wrapper">
<div class="title">Pribbage approach</div>
</div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Pribbage uses a series of convoluted calculations and look-up tables
to determine which cards to discard to the crib. The look-up tables
are based on <a
href="http://www.cribbageforum.com/SchellDiscard.htm">Michael Schell's
discard tables</a> and are used to enhance the calculations for
maximizing the potential score for the computer. (The algorithm is
also available to the player, and can be invoked by tapping the crib
stack prior to selecing any cards to discard.) While the overall
algorithm for discard selection is still being optimized, this appears
to already provide a competitive opponent.
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Selection of the computer cards during play is also accomplished
through another series of convoluted computations that (in theory) are
supposed to take in to account avoidance of 'needless pairs' and
attempts to trap 5s (not really, but it sounds good!). This is a
constantly evolving algorithm that strives to be as competitive as
possible. Of course, if it gets
<i>too</i> competitive,  I've put in a preferences page with an option
to change the level of play. 
</div></div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Finally, if the computer beats you badly and you throw your phone,
please don't hold me responsible.
</div></div></div></div>
</div></div>

<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
<tr>
<td class="left"></td>
<td class="label">
Credits
</td>
<td class="line"></td>
<td><div id="RuleButton5" class="palm-arrow-closed arrow_button"></div></td>
<td class="right"></td>
</tr>
</table>
<div x-mojo-element="Drawer" class="about-drawer" id="RuleDrawer5">
<div class="palm-group unlabeled">
<div class="palm-list">
<div class="palm-row top">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Pribbage is &copy; Copyright 2010 Mark Crowder. It is released
under the <a href="http://www.gnu.org/licenses/gpl.txt">GPL v3</a>.
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Pribbage was written by me, Mark Crowder, in 2010 as an experiment in
learning Javascript, CSS, and HTML5 for Palm's webOS. I have been an
avid FOSS user since 1994, and wanted to give a little something back.
I hope that this meets your cribbage needs...
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Translations to other languages are very graciously provided by the
following people:
<dl>
<dt><strong>French:</strong></dt>
<dd>William Dupré &lt;william.dupre at gmail.com&gt;</dd>
<dt><strong>German:</strong></dt>
<dt><strong>Italian:</strong></dt>
<dt><strong>Klingon:</strong></dt>
<dt><strong>Spanish:</strong></dt>
<dd>Please contact me if you are interested in helping out with these,
or other translations.</dd>
</dl>
</div></div></div>
<div class="palm-row">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
The title font on the opening page is <a
href="http://www.dafont.com/black-boys-on-moped.font">"Black Boys on Mopeds"</a> by <a
href="http://www.pizzadude.dk/">Jakob Fischer</a>.
</div></div></div>
<div class="palm-row last">
<div class="palm-row-wrapper">
<div class="palm-body-text" style="font-size:14px;text-align:justify">
Comments, suggestions, screenshots of 29-point hands are welcome
through <a href="mailto:pribbage@chickenbee.net">e-mail</a> or
<a
href="http://forums.precentral.net/homebrew-apps/232222-pribbage.html">PreCentral's
forum</a>. If you're in Portland, Oregon, and want an IRL  
game, send an e-mail and we'll see about meeting up! Any donations are
<a href="http://chickenbee.net/pribbage/">welcome</a> to supplement my
homebrewing endeavors (covering both fermentation and software),
although you are under no obligation.
</div></div></div></div>
</div></div>


</div>
